:root {
	font-family: monospace;
}

nav li {
	display: inline;
	float: inline-start;
	background-color: bisque;
}

th,
td {
	text-align: right;
}

th:first-child,
td:first-child {
	text-align: left;
}